body{
	font-family: Trebuchet MS, Lucida Grande, comic sans ms;
	margin:0;
	padding:0;
	color: #333;
}

a {
	color: orange;	
	text-decoration: none;
}

a:hover {
	color: crimson;	
}

.posts a {
	color: crimson;	
}

#strip {
	position: absolute;
	height: 110px;
	width: 100%;
	box-shadow: 0 1px 7px #000;
	-moz-box-shadow: 0 1px 7px #000;
	-webkit-box-shadow: 0 1px 7px #000;
	background: rgb(204,235,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(204,235,255) 0%, rgb(102,182,252) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204,235,255)), color-stop(100%,rgb(102,182,252))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(204,235,255) 0%,rgb(102,182,252) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(204,235,255) 0%,rgb(102,182,252) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(204,235,255) 0%,rgb(102,182,252) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(204,235,255) 0%,rgb(102,182,252) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccebff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */	
}

#header {
	width: 900px;
	margin: 5px auto;	
}

#page{
	padding: 135px 0 5px;
	width: 900px;
	margin: 0 auto;
	min-height: 500px;
}

#logo {
	background: white;
	padding: 10px 10px 15px;
	height: 75px;
	float: left;
	border-radius: 0 60px 60px;
}

#logo h1 {
	margin-bottom: 0;	
}

#logo a {
	color: crimson;	
	/*text-shadow: 6px -3px 2px orange;*/
	text-decoration: none;
}

#logo .location {
	text-align: center;
	color: grey;
	font-size: .8em;	
}

#nav {
	background: white;
	padding: 10px;
	float:right;
	border-radius: 60px;
}

#nav ul {
	padding: 0;
	margin: 0;	
}

#nav ul li {
	float: left;
	list-style-type: none;
	padding: 0 10px;
}

#tagline {
	color: white;
    margin-left: 189px;
    margin-top: 77px;
    position: absolute;	
}

#tagline a{
	font-weight: bold;
	color: white;
	text-decoration: none;
	font-size: 1.1em;
}

#tagline a:hover {
	color: crimson;	
}

#sidebar {
	width: 235px;
	padding: 10px 35px 0 10px;	
	float: left;
	margin-right: 35px;
	border-right: 1px solid #ddd;
}

#sidebar ul {
	padding-left: 0;	
}

#sidebar ul li {
	font-size: .9em;
	padding: 5px 0;
	list-style-type:none;
	color: orange;
}

#sidebar ul li a {
	text-decoration: none;
	color: grey;
}

#sidebar ul li a:hover {
	color: orange;
}

#main {
	float: left;
	padding: 20px 0 20px 0px;
}

h2 {
	padding-top: 20px;	
	max-width: 584px;
}

#search input[type=text] {
	width: 500px;
	height: 25px;
}


.info {
	padding: 5px 0 0 5px;	
}

.study_info {
	background: #eee;
	margin: 20px 0 20px 0;
	padding: 5px 0;	
}

.info label {
	font-weight: bold;
	display: inline-block;
	width: 200px;	
}

.info.price {
	color: green;	
}

.info.price label {
	color: #333;	
}

form label {
	width: 150px;
	display: inline-block;	
}

form #id_title,
form #id_authors,
form #id_email{
width: 300px;	
}

.posts {
	width: 584px;	
}

.posts a {
	text-decoration: underline;	
}

.posts table {
	width: 100%;	
}

.posts td {
	padding: 5px;	
}

.posts tr.odd {
background: #eee;
}

.posts td.title {
	min-width: 400px;
}

#currently_browsing {
	font-size: .8em;
	position: absolute;
}

.errorlist {
	color: red;	
}

div.button {
	margin: 40px 0;	
}

a.button,
div.button a,
input[type=submit] {
	cursor: pointer;
	font-size: 1em;
	border: 0;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	background: rgb(99,142,216); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(99,142,216) 0%, rgb(84,163,238) 32%, rgb(54,144,240) 51%, rgb(16,41,117) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(99,142,216)), color-stop(32%,rgb(84,163,238)), color-stop(51%,rgb(54,144,240)), color-stop(100%,rgb(16,41,117))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(99,142,216) 0%,rgb(84,163,238) 32%,rgb(54,144,240) 51%,rgb(16,41,117) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(99,142,216) 0%,rgb(84,163,238) 32%,rgb(54,144,240) 51%,rgb(16,41,117) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(99,142,216) 0%,rgb(84,163,238) 32%,rgb(54,144,240) 51%,rgb(16,41,117) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(99,142,216) 0%,rgb(84,163,238) 32%,rgb(54,144,240) 51%,rgb(16,41,117) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#638ed8', endColorstr='#102975',GradientType=0 ); /* IE6-9 */
}

a.button:hover,
div.button a:hover,
input[type=submit]:hover {
background: rgb(254,204,177); /* Old browsers */
background: -moz-linear-gradient(top, rgb(254,204,177) 0%, rgb(241,116,50) 50%, rgb(234,85,7) 51%, rgb(251,149,94) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(254,204,177)), color-stop(50%,rgb(241,116,50)), color-stop(51%,rgb(234,85,7)), color-stop(100%,rgb(251,149,94))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(254,204,177) 0%,rgb(241,116,50) 50%,rgb(234,85,7) 51%,rgb(251,149,94) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(254,204,177) 0%,rgb(241,116,50) 50%,rgb(234,85,7) 51%,rgb(251,149,94) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(254,204,177) 0%,rgb(241,116,50) 50%,rgb(234,85,7) 51%,rgb(251,149,94) 100%); /* IE10+ */
background: linear-gradient(top, rgb(254,204,177) 0%,rgb(241,116,50) 50%,rgb(234,85,7) 51%,rgb(251,149,94) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */	
}

.posts th a {
	padding-right: 20px;
	text-decoration: none;
	background-position: right center;
	background-repeat: no-repeat;
	color: #333;
}

.posts th a:hover {
	color: crimson;	
}

.asc {
	background: url(../images/arrow_up.gif);	
}

.dec {
	background: url(../images/arrow_down.gif);	
}

.pagination {
	text-align: right;	
	font-size: .8em;
	color: #999;
	padding-top: 10px;
}

.pagination a {
	color: #999;	
}

#footer {
color: #ccc;
text-align: center;
font-size: .7em;
margin-top: 30px;
}

#footer a {
	color: #ccc;
	text-decoration: underline;	
}

.clear {
	clear: both;	
}