{% extends "base.html" %}

{% block title %} About TimBoekTU {% endblock %}

{% block main %}
<strong>Jump to:</strong> &nbsp;&nbsp;
<a href="#buying">Buying books</a> &nbsp;&nbsp;
<a href="#selling">Selling books</a>
<p>Picture this: You've just registered for a new class, and now you need to get the course book. 
Since you're cheap, you go to Amazon and purchase a Like New copy for three quarters the price 
of a new one and get it shipped to your house. Little did you know, however, that the guy you talked to at the borrel yesterday
would have sold you his old copy in person for five euros.</p>
<p>Now that we've got you in the mood, we introduce you to TimBoekTU. TimBoekTU is an online
bulletin board for finding and selling books on your campus. There are no user accounts; just visit the website
and search for the book you want. Got a old book you don't want anymore? Just click sell and fill out
the form. Easy as appeltaartje.</p>
<p>TimBoekTU is non-profit and the product of volunteers. See how you can 
<a href="{% url timboektu.books.views.contribute %}">support us!</a></p>

<a name="buying"></a>
<h2>Buying books</h2>
<p>Go to the <a href="{% url timboektu.books.views.index %}">search</a> page and type in some keywords. The search engine will search listed book titles, authors, descriptions, and ISBNs.</p>
<p>Once you've found a book you want, you can click on the button to contact the seller. This will simply open your default email client
so that you can send them a friendly email and arrange to meet in person on campus to perform the transaction.</p>
<p><strong>Buying Tips:</strong> Meet sellers in a public place, for instance in the cantine on your campus. Pay with either cash or bank
transaction. If using the latter, we recommend bringing both of your laptops so you can verify the transaction went through immediately.
TimBoekTU claims no responsibility for dishonest buyers or sellers.</p>

<a name="selling"></a>
<h2>Selling books</h2>
<p>To sell a course book, go to the <a href="{% url timboektu.books.views.new %}">sell</a> page and fill out the form with your book's info.
After creating the new book listing, you'll receive an Edit link via email which you can use to edit the listing details should you want
to do so. Old listings are periodically deleted from the server. When that time is nearing for your listing, you'll receive an email
asking if you want to renew your listing.</p>
<p><strong>Selling Tips:</strong> The more info your provide in your listing the more likely someone will buy your book.
Including an exact price will also help your chances, because buyers will generally avoid bargaining if they can.</p>

{% endblock %}
