<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="The easiest way to find and sell used university books on your campus. No user accounts, just the information you need.">
	<meta name="keywords" content="books, university, used books, second hand books, boeken, tweedehands, universiteit">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/global.css" type="text/css" media="all">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>


    <title>TimBoekTU: Second-hand university books</title>
		
		
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32723393-1']);
	  _gaq.push(['_setDomainName', 'timboektu.com']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	
</head>
<body>

<div id="strip">

	<div id="header">
	
		<div id="logo">
			<h1><a href="{% url timboektu.books.views.index %}">TimBoekTU</a></h1>
			<div class="location">Eindhoven</div>
		</div> <!-- logo -->
		
		<div id="tagline">The <a href="{% url timboektu.books.views.about %}">easiest</a> way to <a href="{% url timboektu.books.views.index %}">buy</a> and <a href="{% url timboektu.books.views.new %}">sell</a> used university books</div>
		
		<div id="nav">
			<ul>
				<li><a href="{% url timboektu.books.views.index %}">Search</a></li>
				<li><a href="{% url timboektu.books.views.new %}">Sell</a></li>
				<li><a href="{% url timboektu.books.views.about %}">About</a></li>
				<li><a href="{% url timboektu.books.views.contribute %}">Contribute</a></li>
			</ul>
		</div> <!-- nav -->
	
		<div class="clear"></div>
	
	</div> <!-- header -->

</div> <!-- strip -->


<div id="page">

	{% block sidebar %}
	{% endblock %}
	
	<div id="main">
	
		<h1>{% block title %} {% endblock %}</h1>
	
		{% block main %}
		Main block
		{% endblock %}
	
	</div> <!-- main -->
	
	<div class="clear"></div>

	<div id="footer">Phowered by <a target="_blank" href="http://www.pheide.com">Pheide</a><img height="25" style="vertical-align:middle" src="{{ STATIC_URL }}images/fern.png"</div>
	
</div> <!-- page -->
</body>
</html>