{% extends "base.html" %}

{% block title %} Success! {% endblock %}

{% block main %}

	{% load absurl %}

	<p>You have successfully added your post for "{{ post.title }}". 
	You can view your new post here:</p>
	<p><a href="{% url timboektu.books.views.detail post_id=post.id %}">
		{% absurl timboektu.books.views.detail post_id=post.id %}</a></p>
	<p>To edit your post, visit the following link:</p>
	<p><a href="{% url timboektu.books.views.edit post_hash=post.hash %}">
		{% absurl timboektu.books.views.edit post_hash=post.hash %}</a></p>
	<p>This link has also been emailed to you at the address
	you provided. Don't lose this link! Without it you cannot edit your post.</p>
	
{% endblock %}
