{% extends "base.html" %}

{% block title %} Post Detail {% endblock %}

{% block main %}

	<div class="book_info">
		<div class="info"><label>Title:</label> {{ post.title }}</div>
		<div class="info"><label>Authors:</label> {{ post.authors }}</div>
		<div class="info"><label>Edition:</label> {{ post.edition }}</div>
		<div class="info"><label>Year:</label> {{ post.year }}</div>
		<div class="info"><label>ISBN:</label> {{ post.isbn }}</div>
	</div>
	<div class="study_info">
		<div class="info">
			<label>Department(s):</label> 
			{{ post.departments.all|join:", " }}
		</div>
		<div class="info"><label>Relevant courses:</label> {{ post.courses }}</div>
		<div class="info"><label>Description:</label> {{ post.description }}</div>
	</div>
	<div class="personal_info">
		<div class="info"><label>Seller name:</label> {{ post.name }}</div>
		<div class="info price"><label>Asking price:</label> 
		{% if post.price != null %}{{ post.price }} EUR
		{% else %}Best offer
		{% endif %}
		</div>
		<div class="info"><label>Date listed:</label> {{ post.crdate }} (Last modified: {{post.mdate}})</div>
	</div>
	
	<div class="contact">
		<div class="interested">Interested?</div>
		<div class="action">
			<div class="button">
				{% load obfuscate %}
				{{ mailto|obfuscate:'Contact this seller via email' }}
			</div>
			<div class="tip">
				Not sure how this works? See our <a target="_blank" href="{% url timboektu.books.views.about %}#buying">buyer's tips</a>.
			</div>
		</div>
		
	</div>
	
{% endblock %}
