{% extends "base.html" %}

{% block sidebar %}

	<div id="sidebar">
		<h3>Department drilldown</h3>
		
		<ul>
			<li>
				{% if current_department %}
				<a href="{% url timboektu.books.views.index %}">All</a>
				{% else %}
				All
				{% endif %}
			</li>
		
			{% for d in departments %}
				<li>
				{% ifequal d.id current_department.id %} {# coerce to int #}
					{{ d.title }}
				{% else %}
					<a href="{% url timboektu.books.views.department department_id=d.id %}">
						{{ d.title }}
					</a>
				{% endifequal %}
				
				</li>
			{% endfor %}
		</ul>
		
	</div> <!-- sidebar -->

{% endblock %}

{% block title %} 
	{% if query %}
		Search results for: {{ query }}
	{% else %}
		Latest Additions 
		{% if current_department %}
			to {{ current_department.title }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block search %}

<div id="search">

	{% if current_department %}
	<form method="post" action="{% url timboektu.books.views.department department_id=current_department.id %}">
	{% else %}
	<form method="post" action="{% url timboektu.books.views.index %}">
	{% endif %}
	
		{% csrf_token %}
		<input placeholder="Search title, author, desciption, ISBN, etc..." type="text" name="query" value="{% if query %}{{ query }}{% endif %}"/>
		<input type="submit" value="Go"/>
	</form>

</div>

{% if current_department %}
	<div id="currently_browsing">
		Currently searching {{ current_department.title }} 
		(<a href="{% url timboektu.books.views.index %}">clear selection</a>)
	</div>
{% endif %}

{% endblock %}

{% block main %}

<div class="posts">
{% if posts %}
    <table>
    	<tr><th>
	    	{% if current_department %}
	    		<a class="{{ title_order_class }}" 
	    			href="{% url timboektu.books.views.department department_id=current_department.id %}?order_by={{ title_order_by }}{% if query %}&query={{ query }}{% endif %}">
	    	{% else %}
	    		<a class="{{ title_order_class }}" 
	    			href="{% url timboektu.books.views.index %}?order_by={{ title_order_by }}{% if query %}&query={{ query }}{% endif %}">
	    	{% endif %}
					Title
    		</a>
    	</th>
    	<th>
    		{% if current_department %}
    			<a class="{{ price_order_class }}" 
    				href="{% url timboektu.books.views.department department_id=current_department.id %}?order_by={{ price_order_by }}{% if query %}&query={{ query }}{% endif %}">
	    	{% else %}
	    		<a class="{{ price_order_class }}" 
	    			href="{% url timboektu.books.views.index %}?order_by={{ price_order_by }}{% if query %}&query={{ query }}{% endif %}">
	    	{% endif %}
    				Price
    		</a>
    	</th></tr>
    {% for post in posts %}
        <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
	        <td class="title">
	      		<a href="{% url timboektu.books.views.detail post_id=post.id %}">{{ post.title }}</a>
	      		<br/>by: {{ post.authors }}
			</td>
			<td> 
				{% if post.price %}{{ post.price }} EUR
				{% else %}Best offer
				{% endif %}
			</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No posts are available.</p>
{% endif %}
</div> <!-- posts -->

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
